@charset "UTF-8";

@font-face {
    font-family: 'Beaute';
    src: url('fontes/Sweet\ Cookie.ttf') format('truetype');
}

:root {
    --cor-principal: #F2B4AE;
    --cor2: #733E39;
    --cor3: #260101;
    --cor4: #F2F2F2;
    --cor5: #0D0D0D;
    
    --fonte-principal: Arial, Helvetica, sans-serif;
    --fonte-titulo: 'Beaute', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #f2b4ae8a, #f2b4ae);
    font-family: var(--fonte-principal);
}

header {
    background-image: linear-gradient(to top, var(--cor2), var(--cor-principal));
    display: flex;
    align-items: center;
    padding-left: 130px;

}

header > img, h1  {
    color: var(--cor3);
    font-family: var(--fonte-titulo);
    padding: 5px;
    text-align: center;
    display: inline-block;
    text-shadow: 1px 1px 3px#260101;
}

header > a:hover {
    font-size: 1.1em;
    transition-duration: 0.7s;
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    text-align: right;
    padding-right: 260px;
    text-shadow: 0px 2px 7px black;
}

nav > a {
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-weight: bold;
    color: var(--cor4);
    margin: 5px;
    padding: 5px;
}

nav > a:hover {
    background-color: var(--cor-principal);
    padding: 5px;
    border-radius: 3px;
    transition-duration: 0.6s;
}

main {
    background-color: var(--cor-principal);
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    line-height: 40px; 
}

main aside {
    display: inline-block;
    border: 10px;
    background-color: white;
    width: 200px;
    padding: 15px;
    text-align: center;
    box-shadow: 1px 1px 8px #26010156;
    border-radius: 3px;
}

main aside > h3 {
    color: var(--cor3);
}

main aside > ul {
    list-style-position: inside;
    list-style-type: none;
}

main aside ul > a {
    color: black;
    text-decoration: none;
}

main aside li:hover {
    background-color: var(--cor-principal);
    color: var(--cor3);
    border-radius: 5px;
    font-size: 1.3em;
    transition-duration: 0.6s;
}

main aside.curiosidades {
    display: inline-block;
    width: 200px;
    margin-left: 534px;
    align-content: center;
}

aside.redes-sociais > img {
    text-align: center;
}

footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
    padding: 10px;
}